.header {
  /* @apply text-center font-bold text-2xl text-white px-0 py-8 rounded-[1.25rem]; */
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem; /* 2xl */
  color: white;
  padding: 2rem 1rem;
  border-radius: 1.25rem 1.25rem 0 0;
  background: linear-gradient(175deg, #6a11cb 10%, #2575fc 90%);
}
