.inputFormat {
  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputMain {
  border-color: #cbd5e1;
  background-color: #f1f5f9;
  color: #64748b;
}

.inputSub:nth-child(2) {
  border-color: #fecdd3;
  background-color: #fff1f2;
  color: #be123c;
}

.inputSub:nth-child(3) {
  border-color: #bae6fd;
  background-color: #f0f9ff;
  color: #0284c7;
}

.inputSub:nth-child(4) {
  border-color: #bbf7d0;
  background-color: #f0fdf4;
  color: #16a34a;
}